
/* GLOBAL STYLES */
p h1 h2 h3 h4{
    font-family: 'News Cycle', sans-serif; 
}

.text-orange{
    color:#ff4d00;
}
/* END GLOBAL STYLES */

.nav-link{
    color: white;
}
.active{
    color: #ff4d00 !important;
}

/* END HEADER STYLES */

/* HOME SECTION STYLES */
#home{
  position: relative;
  background-color: black;
  height: 90vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}
#home video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  #home .container {
    position: absolute;
    z-index: 2;
    float: left;
  }
  #home .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  #homePageTitle{
    font-weight: bolder;
  }
  /* Media Query for devices withi coarse pointers and no hover functionality */
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
  @media (pointer: coarse) and (hover: none) {
    #home {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    #home video {
      display: none;
    }
  }

  /* END HOME SECTION STYLES */

  /* SERVICES SECTION STYLES */
  .services-section {padding-top:60px; padding-bottom:60px;}
  .service-box h3 {
      font-size: 20px;
      font-weight: normal;
      text-transform: capitalize;
      line-height: 36px;
      letter-spacing:1px;
      margin: 0;
  }
  .service-content p {margin-top:5px;margin-bottom: 20px;}
  .service-icon{width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 30px;
      float:left;
      display: table;
      color:#ff4d00;}
  .service-content{ margin-top: 40px; margin-left:120px;}
  
  /*END SERVICES SECTION STYLES */